{% extends 'afmake.html' %}

{%block main%}

<section>
  <div class="row">
    <div class = "col-md-1 section-back-color"></div>
    <div class = "col-md-10 ch-a-blue">
      <br>
      <br>
      <br>
      <h4 class="h-txt-horeca">{{user_data[1]}} {{user_data[2]}}</h4>
      <br>
      <br>
      <h4 class="h-txt-horeca">Ваш номер телефону: {{user_data[3]}}</h4>
      <br>
      <br>
      <h4 class="h-txt-horeca">Ваша електронна пошта: {{user_data[4]}}</h4>
      <br>
      <br>
      <br>
      <br>
      <div class="row">
        <div class = "col-md-4">
          <div class="card">

          </div>
        </div>
        <div class = "col-md-4">

        </div>
        <div class = "col-md-4">

        </div>
      </div>
      <br>
    </div>
    <div class = "col-md-1 section-back-color"></div>
  </div>
</section>
{%endblock main%}
